*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(1, 1, 16);
} 
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 100; */
}
.logo
{
    position: relative;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    text-decoration: none;
    /* font-weight: 60; */
}
.logo::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    animation: myani 2s ease forwards;
    animation-delay: 0.4s;

}
.bar a
{
    font-size: 18px;
    text-decoration: none;
    /* font-weight: 600; */
    margin-left: 25px;
    color: white;
    
}
.bar a:hover
{
    color: red;
}
.home
{
    height: 100vh;
    /* margin-top: 5%; */
    background: url('wallpaperflare.com_wallpaper\ \(1\).jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: 350px;
    background-position-y: 25px;

    display: flex;
    align-items: center;
    color: aliceblue;
    padding: 0 10%;
}
.home-content
{

    width: 600px;
    padding-top: 150px;
}
.home-content h1
{
    position: relative;
    font-size: 50px;
    color: red;
    /* font-weight: 600; */
}
.home-content h1::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    animation: myani 2s ease infinite forwards;
    animation-delay: 0.2s;

}

.home-content h3
{
    position: relative;
    font-size: 30px;
    color: aqua;
    margin-left: 50px;
    /* font-weight: 60000; */
}
.home-content h3::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    animation: myani 2s linear forwards;
    animation-delay: 0.1s;

}

.home-content p
{
    margin-top: 6px;
    margin-bottom: 40px;
    font-size: 20px;
}


.button a
{
    width: 117px;
    display:inline-flex;
    margin-left: 20px;
    padding: 5px;
    background-color: transparent;
    /* font-size: 30px; */
    text-decoration: none;
    border: 3px solid greenyellow ;
    border-radius: 5px;
    justify-content: center;
    color: red;
    font-size: 22px;
       
}
.button a:hover
{
    background-color: aqua;
    transition: 1s;
}
.icon{
    /* width: 60%;
    height: 10%; */
    margin-top: 70px;
    
}
.icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 35px;
    margin: 15px;
    background-color: transparent ;
    border-radius: 50%;
    text-decoration: none;
    transition: 2s;
    
}
.icon a:hover
{
    background-color: greenyellow ;
    border: 2px solid red;
    overflow: hidden;
    padding: 2px;
    padding-top: 1px;  
    
}
.img_havo
{
    position: absolute;
    width: 43%;
    height: 90%;
    background: transparent;
    /*  border: 2px solid red; */
    bottom: 0;
    right: 0;
}
.img_havo:hover
{
    background-color:#081b29;
    opacity: 0.6;
    transition: 2s;
}

@keyframes myani
{
    100%
    {
        width: 0;
    }
}