*{
    margin: 0;
    padding: 0;
    box-sizing:0 ;
}
body
{
    color: white;
    background-color: black;
}
.project h1{
    padding: 5px;
    text-align: center;
    font-size: 60px;
    color: red;
    text-shadow: 2px 2px aqua;
    Letter-spacing: 2px;
}
.project p{
    padding: 10px 50px;
    font-size: 25px ;
    text-align: center;   
    font-family: cursive;
    Letter-spacing: 1px;
}
.front div{
    width: 288px;
    height: 420px;
    background-color: red;
    display: inline-block;
    border: 10px solid rgb(102, 255, 0);
}   
.front p
{
    position:relative;
    text-align: center;
    color: white;
    font-size: 30px; 
    top: 70%;
    background-color: rgb(0, 195, 255);
}
.front a
{
    position:relative;
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    padding: 2px;
    font-size: 200%;
    text-decoration: none;
    background-color: rgb(220, 255, 47);
    left: 15%;   
    top: 75%;
}
.front a:hover
{

    background-color: aqua;
    font-size: 180%; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 2s;
}
.pr1
{
   
   background: url(./attendance.jpeg) no-repeat;
   background-size: 160%;
   background-position-x: 48%;
   
}
.pr2
{
    background: url(./chatbot1.jpeg) no-repeat;   
    background-size: 160%;
   background-position-x: 100%;
}
.pr3
{
    background: url(./homeautomation1.jpeg) no-repeat;   
    background-size: 160%;
   background-position-x: 48%;
}
.pr4
{
    background: url(./attendance.jpeg) no-repeat;   
    background-size: 160%;
   background-position-x: 48%;
}


/* 
.pr1
{
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
    height: 95%;
    width: 26%;
    
    display: inline-block;


    background: url("attendance.jpeg") no-repeat;
    background-position: top;
    background-size: 160%;
    padding: 2px;
    transition: 2s;
}
.pr1:hover
{
    background: url("atttendance2.png") no-repeat;
    background-position: top;
    background-size: 160%;
    background-position-x: -60px;
    padding: 2px;
    transition: 2s;
} */


.home-content h1
{
    position: relative;
    font-size: 50px;
    color: red;
    /* font-weight: 600; */
}
/* .front p::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    animation: myani 2s ease infinite backwards;
    animation-delay: 0.2s;

} */